@model EventManagements.Models.Tablevenue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tablevenue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.venue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.venue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.events1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.events1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.venueid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
